body {background-color: #000;  text-align: center;}
#content{margin:0 auto; width:100%; background: #000; min-height:800px;}
#center-image img {z-index: 0; height: 1000px; width:100%; position:absolute; left:0;  -webkit-filter: blur(2px);  -moz-filter: blur(2px);  -o-filter: blur(2px);  -ms-filter: blur(2px); filter: blur(2px);max-height:800px;	}
#details{position: relative; margin: 0 auto; width: 450px; height:800px; z-index: 1; background-color: #fff; background-color: rgba(255, 255, 255, 0.6); padding: 20px; }
#details h3 {text-shadow: 1px 1px 1px #fff;}
#main{position: absolute; margin:0 auto; z-index: 1; background-color: #fff; background-color: rgba(255, 255, 255, 0.9); padding: 20px; width:900px; }
#top-bar {background:#000; background: rgba(43, 43, 43, 0.65); color:#fff; padding:10px;
  position: relative; width: 100%; margin: 0;}
#top-bar form {width: 400px; clear: both; position: absolute; right: 50px;}
#top-bar option{color:#000;}
#about p{margin-bottom:0;}
footer {background:#000; background: rgba(43, 43, 43, 0.65); color:#fff;
  left: 0; width:100%; margin:0 auto; position:absolute;}
#bottom{position:relative; bottom:0; width:900px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.6);}
.home-panel{height:350px; max-height:350px; overflow:scroll;}
nav img{width:50px; height:50px;}
#requests {position: absolute; right: 0; font-size: 20px; margin-right: 10px; color: #ff0000;}
nav li{list-style-type:none;display: inline;}
nav li:after{content:" | ";}
nav li:first-child:before{content:" | ";}
/*Metro Overides*/
.metro h1 {color:#fff;}
footer .metro p {color:#fff;}